.App{
    margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border:1px solid rgb(67,54,63,255);;
  border-radius: 10px;
  width: 600px;
  height: 350px;
}
body {
    background: url('https://res.cloudinary.com/dmttdtywd/image/upload/v1707239416/DSC03480_mz6u3y.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight:700;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
  }

  .footer-link{
    color: rgb(67,54,63,255);
    font-size: 18px;
    background-color:#5f447b97;
    border-radius: 1px;
    
  }
  .footer-link:visited{
    color:white;
    ;
    font-size:18px;
  }
  
