.WeatherForecast {
    margin: 20px;
    margin-top: 30px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1; /* Set flex to 1 to occupy full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  .col:not(:first-child) {
    margin-left: 10px; /* Add margin between columns */
  }
  
  .WeatherForecast-day {
    justify-content: center;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    display: flex;
  }
  
 .Icon{
  display: flex;
  justify-content: center;
 }
  
  .WeatherForecast-temps {
    display: flex;
    justify-content: center;
    font-weight: lighter;
  }
  
  .WeatherForecast-mintemp {
    opacity: 0.6;
  }
  
  .WeatherForecast-day,
  .Icon,
  .WeatherForecast-temps span {
    margin-bottom: 10px;
  }
  
  

  